@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: "Overpass", sans-serif;
        overflow-x: hidden;
    }
}

@layer components {
    .bg-gradient-primary {
        background: linear-gradient(135deg, #ff8f71 0%, #ff3e55 100%);
    }

    .bg-gradient-secondary {
        background-image: url("./assets/bg-pattern-circles.svg"),
            linear-gradient(135deg, #2d2e40 0%, #3f4164 100%);
        background-repeat: no-repeat;
        background-size: 150%, 125%;
        background-position: 55% 1215%;
    }

    .bg-gradient-phone {
        background: url("./assets/bg-pattern-circles.svg") no-repeat center
            bottom;
    }

    @media (min-width: 1280px) {
        .bg-gradient-secondary {
            background-size: 70%, 100%;
            background-position: -49% 80%;
        }
    }
}

.box-shadow {
    box-shadow: 0 1.25rem 2.5rem rgba(0, 0, 0, 0.25);
}

.bg-circle {
    background: url("./assets/bg-pattern-circles.svg") no-repeat center 150%;
}
